@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    text-align: center;
}

/* Para cambiar el color del fondo */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(rgb(247, 247, 247), pink);
    height: 100%;
}

/* Creamos una caja para el titulo y la imagen con colores degradados*/
:root {
    --bg: #1e2345;
    --violet: rgb(161, 132, 240);
    --pink: #d60087;
    --turquoise: #2fdabd;
    --mainColor: #343a40;
    --color1: #007bff;
    --color2: rgb(0, 255, 255);
    --color3: #202429;
    --fb: #3b5999;
    --ins: #e4405f;
    --git: #171515;
    --link: #0077B5;
    --spoti: #81b71a;
}
.box_head {
    background-color: var(--bg);
    padding: 2rem;
    height: calc(15vh - 3rem);
    display: grid;
}

/* Creamos el borde para esa caja */
.gradient-border-box {
    background: linear-gradient(100deg, var(--violet) 25%, var(--turquoise) 50%, var(--violet) 75%);
    background-repeat: repeat;
    padding: 8px;
    margin: 1rem 0 0 300px;
    border-radius: 10px;
    animation: gradient 5s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: -80rem 0;
    }
    100% {
        background-position: 0 0;
    }
}

.box_head h1 {
    color: #fff;
    margin: 0;
    font-size: 3rem;
    text-align: center;
    background-color: var(--bg);
}

/* Aqui termina la historia de la cabecera con estilo */

ul {
    list-style: square;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Para las imagenes pensamos en usar un estilo tipo grid */

.container_img {
    outline: 4px solid #fff;
    margin: 0 1em 0 20em;
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "n1 n1 n1 n2 n2 n2"
    "n3 n3 n3 n4 n4 n4";
    gap: 10px;
    background: #fff;
    box-shadow: 0 0 18px 0 rgb(0, 0, 0);
}

.item {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.item1 {
    grid-area: n1;
}

.item2 {
    grid-area: n2;
}

.item3 {
    grid-area: n3;
}

.item4 {
    grid-area: n4;
}

.item5 {
    grid-area: n5;
}

img {
    height: 100%;
    width: 100%;
}
/* Creamos el menu responsivo */
.sidebar-wrapper {
    max-width: 300px;
    min-width: 300px;
    height: 100vh;
    background-color: var(--mainColor);
    position: fixed;
    top: 0;
    left: 0;
} 

.sidebar-wrapper .sidebar {
    width: 100%;
}

.sidebar-wrapper .sidebar .avatar-wrapper {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-size: 1.5rem;
    background: url(../Img/IMG_20230120_204117_435.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 10;
}

.sidebar-wrapper .sidebar .avatar-wrapper::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0, 0.6);
    z-index: -11;
}

.sidebar-wrapper .sidebar .avatar-wrapper .avatar {
    width: 35%;
    clip-path: circle();
    box-shadow: 0 0 8px #000;
}

.sidebar-wrapper .sidebar nav {
    width: 100%;
}

.sidebar-wrapper .sidebar nav .menu {
    list-style: none;
}

.sidebar-wrapper .sidebar nav .menu li {
    border-bottom: 1px solid #494949;
}

.sidebar-wrapper .sidebar nav .menu li a {
    margin: 10px;
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    padding: 20px;
    transition: 0.5s ease;
}

.sidebar-wrapper .sidebar nav .menu li a:hover {
    background: -webkit-linear-gradient(45deg, var(--color1), var(--color2));
}

.sidebar-wrapper .sidebar nav .menu li a i {
    margin-right: 15px;
}
/* Aqui termina el estilo del menu hamburgesa */

/* Creamos los estilos para la informacion Personal */

.container_pers {
    margin: 0 0 0 20em;
}

/* Creamos la caja para la parte del github */
/* Para el pie de pagina */

footer {
    height: auto;
    margin: 0 -1em 0 18em;
    color: #fff;
}

.container_git {
    box-sizing: border-box;
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.container_git p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

/* Para que los li se alinien en una linea */

.container_git ul {
    display: inline-block;
}

.container_git ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.container_git ul li a {
    display: block;
    padding: 0 10px;
    background: var(--mainColor);
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
    transition: .2s;
}

.container_git ul:hover a {
    filter: blur(2px);
}

.container_git ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}

.container_git ul li .facebook:hover {
    background: var(--fb);
}

.container_git ul li .instagram:hover {
    background: var(--ins);
}

.container_git ul li .linkedin:hover {
    background: var(--link);
}

.container_git ul li .github:hover {
    background: var(--git);
}

.container_git ul li .spotify:hover {
    background: var(--spoti);
}